NODE-RED-FLOW(JSON).json
[{"id":"44259ec5.e64b2","type":"tab","label":"Smart Agriculture System based on IoT Flow","disabled":false,"info":""},{"id":"7bc2cc64.6fc054","type":"function","z":"44259ec5.e64b2","name":"Humid","func":"var hum=global.get(\"humidity\")\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["594a197a.f737f8","93b361a6.0e74c","db114fc5.03a39"]]},{"id":"eb453d7f.8bdcc","type":"function","z":"44259ec5.e64b2","name":"Temp","func":"var temp=global.get(\"temperature\")\nmsg.payload=msg.payload.d.temperature\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":100,"wires":[["594a197a.f737f8","2d93ca4b.880756","6034106d.5236"]]},{"id":"f271740.323599","type":"function","z":"44259ec5.e64b2","name":"SoilMoisture","func":"var objtemp=global.get(\"objectTemp\")\nmsg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":160,"wires":[["594a197a.f737f8","7a7ab789.3a0be8","7a614783.0e29c8"]]},{"id":"594a197a.f737f8","type":"debug","z":"44259ec5.e64b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":20,"wires":[]},{"id":"6034106d.5236","type":"ui_gauge","z":"44259ec5.e64b2","name":"Temperature","group":"b027a192.df0d2","order":1,"width":"6","height":"3","gtype":"wave","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#0daba8","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":60,"wires":[]},{"id":"db114fc5.03a39","type":"ui_gauge","z":"44259ec5.e64b2","name":"Humidty","group":"2574ded.a7b9d22","order":2,"width":"6","height":"3","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#f0dd0a","#ca3838"],"seg1":"","seg2":"","x":740,"y":140,"wires":[]},{"id":"7a614783.0e29c8","type":"ui_gauge","z":"44259ec5.e64b2","name":"Soil Moisture","group":"6b161fb3.623fc","order":1,"width":"6","height":"3","gtype":"wave","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#fa0000"],"seg1":"","seg2":"","x":750,"y":220,"wires":[]},{"id":"8e092004.6c42e","type":"http in","z":"44259ec5.e64b2","name":"","url":"message","method":"get","upload":false,"swaggerDoc":"","x":80,"y":560,"wires":[["a8256934.38b178"]]},{"id":"bfdc3a83.16da28","type":"http response","z":"44259ec5.e64b2","name":"","statusCode":"","headers":{},"x":730,"y":560,"wires":[]},{"id":"a8256934.38b178","type":"function","z":"44259ec5.e64b2","name":"Motor Command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":560,"wires":[["bfdc3a83.16da28","64389ce8.1f5064","19362835.2ff7c8"]]},{"id":"64389ce8.1f5064","type":"debug","z":"44259ec5.e64b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":600,"wires":[]},{"id":"6cf19f42.6b276","type":"ibmiot in","z":"44259ec5.e64b2","authentication":"apiKey","apiKey":"9947bb2c.07dfa8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"VITDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":160,"wires":[["eb453d7f.8bdcc","7bc2cc64.6fc054","f271740.323599","120f758e.e28f3a","3688c2e6.48028e"]]},{"id":"2d93ca4b.880756","type":"ui_chart","z":"44259ec5.e64b2","name":"Graph","group":"b027a192.df0d2","order":1,"width":0,"height":0,"label":"Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":100,"wires":[[]]},{"id":"93b361a6.0e74c","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"2574ded.a7b9d22","order":0,"width":0,"height":0,"label":"Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":180,"wires":[[]]},{"id":"7a7ab789.3a0be8","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"6b161fb3.623fc","order":2,"width":0,"height":0,"label":"Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ea7006","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":260,"wires":[[]]},{"id":"b21156b7.ffd768","type":"inject","z":"44259ec5.e64b2","name":"","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":70,"y":640,"wires":[["61aad154.20fe1"]]},{"id":"61aad154.20fe1","type":"http request","z":"44259ec5.e64b2","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=vellore,   IN&units=metric&appid=a0bfd7e12cd43d39a44c301354137ea5","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":920,"wires":[["656f35a0.7b158c","5a753a78.69ab24","d4c4bdd.d6a734","c5867ce4.d27d9","b033cb4d.aacdf8","b7660d1.afd5bf","72168ad0.c06a04","a57e3131.ea7af","64389ce8.1f5064"]]},{"id":"4ffd141e.07dfec","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":2,"width":0,"height":0,"name":"","label":"Weather Description","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":660,"wires":[]},{"id":"db46aaf4.a18af8","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":3,"width":"0","height":"0","name":"","label":"Temperature","format":"{{msg.payload}} °C","layout":"row-spread","x":790,"y":700,"wires":[]},{"id":"10fec709.796849","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":4,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":780,"y":740,"wires":[]},{"id":"9ef302aa.f7221","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":1,"width":0,"height":0,"name":"","label":"Region","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":780,"wires":[]},{"id":"b42bb0b.933055","type":"ui_template","z":"44259ec5.e64b2","group":"ac27852a.c9f2d8","name":"Home tab BG","order":2,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://c4.wallpaperflare.com/wallpaper/282/1005/219/sunset-vineyard-landscape-agriculture-wallpaper-preview.jpg\");\n     background-size: 150% 100%;\n    }\n</style>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":20,"wires":[[]]},{"id":"5ff44995.2b8188","type":"ui_template","z":"44259ec5.e64b2","group":"b027a192.df0d2","name":"Smart tab BG ","order":2,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://media.gettyimages.com/photos/crops-grow-on-fertile-farm-land-panoramic-before-harvest-picture-id937010674?s=2048x2048\");\n     background-size = 100% 100%;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":1160,"wires":[[]]},{"id":"4ab58802.2da488","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":5,"width":0,"height":0,"name":"","label":"Air Pressure","format":"{{msg.payload}} hPa","layout":"row-spread","x":790,"y":820,"wires":[]},{"id":"1de37eb6.6f02b1","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":6,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":790,"y":860,"wires":[]},{"id":"2605aae3.80ea46","type":"ui_template","z":"44259ec5.e64b2","group":"eefc7ecd.eb11a","name":"Control tab BG","order":0,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://5.imimg.com/data5/GU/HW/MY-1743276/engine-for-water-pump-500x500.jpg\");\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":1200,"wires":[[]]},{"id":"3a175529.c4601a","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"2436b8d5.7864e8","order":7,"width":0,"height":0,"gtype":"wave","title":"Clouds","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":900,"wires":[]},{"id":"3fd6a92e.e2d6f6","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":960,"wires":[]},{"id":"dbd6ac4c.0b4fc","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":1040,"wires":[]},{"id":"1cd2f3f2.88364c","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":6,"width":"0","height":"0","gtype":"wave","title":"Clouds","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":1120,"wires":[]},{"id":"c408ba06.5503b8","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"f18f9b8f.890b18","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":1000,"wires":[[]]},{"id":"951d9a9b.fa60c8","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"f18f9b8f.890b18","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":760,"y":1080,"wires":[[]]},{"id":"469fa9b5.923268","type":"ui_template","z":"44259ec5.e64b2","group":"33a62a3.850b1d6","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":100,"y":1280,"wires":[[]]},{"id":"3c1dd794.c06bc8","type":"ui_template","z":"44259ec5.e64b2","group":"d8ceb334.52045","name":"Live tab BG","order":2,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://www.analyticssteps.com/backend/media/thumbnail/6006173/6278986_1571298721_Weather_Forecoast_Graphics.jpg\");\n     background-size: 100% 100%;\n    }\n</style>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":1240,"wires":[[]]},{"id":"7aa38e00.c8f74","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":1160,"wires":[]},{"id":"5417f625.ff01e8","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":5,"width":0,"height":0,"gtype":"gage","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":1240,"wires":[]},{"id":"6fc921ff.f5b0c","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"f18f9b8f.890b18","order":2,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":760,"y":1200,"wires":[[]]},{"id":"6cdb9ea2.f9f86","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"f18f9b8f.890b18","order":3,"width":0,"height":0,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":770,"y":1280,"wires":[[]]},{"id":"19362835.2ff7c8","type":"ibmiot out","z":"44259ec5.e64b2","authentication":"apiKey","apiKey":"9947bb2c.07dfa8","outputType":"cmd","deviceId":"12345","deviceType":"VITDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":520,"wires":[]},{"id":"120f758e.e28f3a","type":"function","z":"44259ec5.e64b2","name":"alert","func":"if ((flow.get('temperature')>32) && (flow.get('humidity')<70))\n    {global.set('alert',\"turn on motor\")}\nif(flow.get('humidity')>70 && flow.get('temperature')<32)\n    {global.set('alert',\"humidity is high\")}\nif(flow.get('humidity')>70 && flow.get('temperature')>32)\n    {global.set('alert',\"both temp and humidity is high\")}\nif(flow.get('humidity')<70 && flow.get('temperature')<32)\n    {global.set('alert',\" \")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":200,"wires":[[]]},{"id":"3688c2e6.48028e","type":"function","z":"44259ec5.e64b2","name":"","func":"flow.set('temperature',msg.payload.d.temperature)\nflow.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":220,"wires":[[]]},{"id":"656f35a0.7b158c","type":"function","z":"44259ec5.e64b2","name":"","func":"flow.set('temperature',Math.ceil(msg.payload.main.temp))\nglobal.set('pressure',msg.payload.main.pressure)\nflow.set('humidity',msg.payload.main.humidity)\nglobal.set('weather',msg.payload.weather[0].description)\nglobal.set('region',msg.payload.name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1280,"wires":[[]]},{"id":"5a753a78.69ab24","type":"function","z":"44259ec5.e64b2","name":"","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":820,"wires":[["4ffd141e.07dfec"]]},{"id":"d4c4bdd.d6a734","type":"function","z":"44259ec5.e64b2","name":"","func":"msg.payload=Math.ceil(msg.payload.main.temp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":880,"wires":[["db46aaf4.a18af8","3fd6a92e.e2d6f6","c408ba06.5503b8"]]},{"id":"c5867ce4.d27d9","type":"function","z":"44259ec5.e64b2","name":"","func":"msg.payload=msg.payload.main.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":940,"wires":[["10fec709.796849","dbd6ac4c.0b4fc","951d9a9b.fa60c8"]]},{"id":"b033cb4d.aacdf8","type":"function","z":"44259ec5.e64b2","name":"","func":"msg.payload=msg.payload.main.region\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1000,"wires":[["9ef302aa.f7221"]]},{"id":"b7660d1.afd5bf","type":"function","z":"44259ec5.e64b2","name":"","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1060,"wires":[["4ab58802.2da488","7aa38e00.c8f74","6fc921ff.f5b0c"]]},{"id":"72168ad0.c06a04","type":"function","z":"44259ec5.e64b2","name":"","func":"msg.payload=msg.payload.main.windspeed\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1140,"wires":[["1de37eb6.6f02b1","5417f625.ff01e8","6cdb9ea2.f9f86"]]},{"id":"a57e3131.ea7af","type":"function","z":"44259ec5.e64b2","name":"","func":"msg.payload=msg.payload.main.cloud\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1200,"wires":[["3a175529.c4601a","1cd2f3f2.88364c"]]},{"id":"ab9b2863.422808","type":"function","z":"44259ec5.e64b2","name":"Sensor Data","func":"msg.payload={\n    \"temperature\":flow.get('temperature'),\n    \"humidity\":flow.get('humidity'),\n    \"pressure\":global.get('pressure'),\n    \"region\":global.get('region'),\n    \"weather\":global.get('weather'),\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":1340,"wires":[["f1121316.7f064"]]},{"id":"3451e5d1.693fba","type":"http in","z":"44259ec5.e64b2","name":"","url":"/data2","method":"get","upload":false,"swaggerDoc":"","x":60,"y":1400,"wires":[["ab9b2863.422808"]]},{"id":"f1121316.7f064","type":"http response","z":"44259ec5.e64b2","name":"","statusCode":"","headers":{},"x":410,"y":1400,"wires":[]},{"id":"4ecf7b6c.f4b1c4","type":"http in","z":"44259ec5.e64b2","name":"","url":"/data1","method":"get","upload":false,"swaggerDoc":"","x":80,"y":500,"wires":[["77240523.64f91c"]]},{"id":"77240523.64f91c","type":"function","z":"44259ec5.e64b2","name":"Sensor Data","func":"msg.payload={\n    \"temperature\":flow.get('temperature'),\n    \"humidity\":flow.get('humidity'),\n    \"objectTemp\":global.get('objectTemp'),\n    \"alert\":global.get('alert')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":500,"wires":[["fe19858f.e7b4c8"]]},{"id":"fe19858f.e7b4c8","type":"http response","z":"44259ec5.e64b2","name":"","statusCode":"","headers":{},"x":530,"y":500,"wires":[]},{"id":"1ed453be.1ea08c","type":"ui_button","z":"44259ec5.e64b2","name":"","group":"eefc7ecd.eb11a","order":2,"width":"3","height":"3","passthru":true,"label":"Motor ON","tooltip":"","color":"yellow","bgcolor":"red","icon":"https://cdn5.vectorstock.com/i/1000x1000/73/54/start-button-icon-symbol-premium-quality-isolated-vector-14807354.jpg","payload":"1","payloadType":"num","topic":"","topicType":"str","x":120,"y":280,"wires":[["503ee573.06b24c"]]},{"id":"f7c1bae4.dcda48","type":"ui_button","z":"44259ec5.e64b2","name":"","group":"eefc7ecd.eb11a","order":3,"width":"3","height":"3","passthru":false,"label":"Motor OFF","tooltip":"","color":"yellow","bgcolor":"red","icon":"https://cdn5.vectorstock.com/i/1000x1000/73/54/start-button-icon-symbol-premium-quality-isolated-vector-14807354.jpg","payload":"0","payloadType":"num","topic":"","topicType":"str","x":130,"y":340,"wires":[["503ee573.06b24c"]]},{"id":"503ee573.06b24c","type":"function","z":"44259ec5.e64b2","name":"Motor State Analyzer","func":"if(msg.payload===1)\n    msg.payload={\"command\":\"Motor turned ON\"};\n\nelse if(msg.payload===0)\n    msg.payload={\"command\":\"Motor turned OFF\"};\n    \nelse\n    msg.payload={\"command\":\"Running Motor for 30 minutes\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["2077b90f.f0f326","b9e44537.796b78"]]},{"id":"2077b90f.f0f326","type":"function","z":"44259ec5.e64b2","name":"Motor Status","func":"var state=msg.payload;\nmsg.payload = state.command;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":320,"wires":[["d472ebb2.ceb728","17b0a96a.772897","cd23041d.f52b18"]]},{"id":"20a4ae5.8453152","type":"ui_button","z":"44259ec5.e64b2","name":"","group":"eefc7ecd.eb11a","order":4,"width":0,"height":0,"passthru":false,"label":"RUN Motor for 30 mins","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","topicType":"str","x":140,"y":420,"wires":[["1a93d143.e072bf","503ee573.06b24c"]]},{"id":"b9e44537.796b78","type":"json","z":"44259ec5.e64b2","name":"Motor","property":"payload","action":"","pretty":false,"x":590,"y":380,"wires":[["19362835.2ff7c8"]]},{"id":"1a93d143.e072bf","type":"stoptimer","z":"44259ec5.e64b2","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"Run Motor for 30 seconds","x":390,"y":420,"wires":[[],["503ee573.06b24c"]]},{"id":"17b0a96a.772897","type":"ui_toast","z":"44259ec5.e64b2","position":"dialog","displayTime":"30","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"Notification","x":770,"y":360,"wires":[[]]},{"id":"d472ebb2.ceb728","type":"ui_text","z":"44259ec5.e64b2","group":"eefc7ecd.eb11a","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":320,"wires":[]},{"id":"cd23041d.f52b18","type":"ui_audio","z":"44259ec5.e64b2","name":"","group":"eefc7ecd.eb11a","voice":"en-GB","always":"","x":760,"y":400,"wires":[]},{"id":"5887b6d3.ea0ee8","type":"ui_form","z":"44259ec5.e64b2","name":"","label":"","group":"ac27852a.c9f2d8","order":2,"width":0,"height":0,"options":[{"label":"Enter Your Name","value":"Name","type":"text","required":true,"rows":null}],"formValue":{"Name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":90,"y":60,"wires":[["5d67cc36.e31f64"]]},{"id":"1ec01a5e.0401e6","type":"ui_audio","z":"44259ec5.e64b2","name":"","group":"ac27852a.c9f2d8","voice":"hi-IN","always":"","x":420,"y":40,"wires":[]},{"id":"5d67cc36.e31f64","type":"function","z":"44259ec5.e64b2","name":"User Welcome","func":"msg.payload=\"Welcome to Smart Agriculture System based on IoT\"+msg.payload.Name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":60,"wires":[["1ec01a5e.0401e6"]]},{"id":"b027a192.df0d2","type":"ui_group","name":"Sensor Data - Temperature","tab":"5fa3f716.8e8fd8","order":1,"disp":true,"width":"6","collapse":true},{"id":"2574ded.a7b9d22","type":"ui_group","name":"Sensor Data - Humidity","tab":"5fa3f716.8e8fd8","order":2,"disp":true,"width":"7","collapse":true},{"id":"6b161fb3.623fc","type":"ui_group","name":"Sensor Data - Soil Moisture","tab":"5fa3f716.8e8fd8","order":3,"disp":true,"width":"7","collapse":true},{"id":"9947bb2c.07dfa8","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2436b8d5.7864e8","type":"ui_group","name":"Weather Forecast","tab":"5fa3f716.8e8fd8","order":5,"disp":true,"width":"4","collapse":true},{"id":"ac27852a.c9f2d8","type":"ui_group","name":"WELCOME TO SMART FARM","tab":"5ef463af.1378ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"eefc7ecd.eb11a","type":"ui_group","name":"Motor Control","tab":"7407f6eb.2cbdd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8ceb334.52045","type":"ui_group","name":"Weather Parameters Gauge ","tab":"650b62a0.8cba0c","order":1,"disp":true,"width":"6","collapse":true},{"id":"f18f9b8f.890b18","type":"ui_group","name":"Graphs","tab":"650b62a0.8cba0c","order":2,"disp":true,"width":"6","collapse":true},{"id":"33a62a3.850b1d6","type":"ui_group","name":"hidden_group","tab":"2f3c4a7d.3270d6","order":1,"disp":false,"width":"6","collapse":false},{"id":"5fa3f716.8e8fd8","type":"ui_tab","name":"Smart Agriculture System","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ef463af.1378ac","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7407f6eb.2cbdd8","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"650b62a0.8cba0c","type":"ui_tab","name":"Live Weather Forecast","icon":"dashboard","disabled":false,"hidden":false},{"id":"2f3c4a7d.3270d6","type":"ui_tab","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false}]